<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IPEC.Properties.Settings.ipec_dbConnectionString"
            connectionString="Data Source=|DataDirectory|\ipec_db.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="IPEC.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="IPEC.Properties.Settings.basessssssConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\basessssss.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>